@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f8f5f5;
}

#game {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding: .5rem 9rem 1rem 9rem;
    background-image: linear-gradient(90deg, #47cacc, #63bcc9, #cdb3d4, #e7b7c8, #ffbe88);
}

#headerText {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

header p {
    margin: 0;
    font-size: 1.15rem;
    line-height: 1.25;
}

header h1 {
    font-family: 'Carter One', cursive;
    font-size: 3.25rem;
    margin: 0;
}

#scoreboard h2 {
    margin: 0;
}

#scoreboard {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 1rem;
}

main {
    width: 100%;
    display: grid;
}

figure {
    margin: 0;
}

figcaption {
    margin: .25rem .5rem;
    font-size: 1.1rem;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    width: 100%;
}

.cardContainer {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    background-color: white;
    box-shadow: -2px 2px 5px grey;
    width: 200px;
}

.cardContainer:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#allCards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 2rem 9rem;
    place-items: center;
}

@keyframes red {
    from {
        background-color: white; 
        outline: none;
    }
    50% {
        background-color: red;
        outline: 4px solid red;
    }
    to {
        background-color: white;
        outline: none;
    }
}

.redAnimation {
    animation: ease-out .4s red;
}

@keyframes green {
    from {
        background-color: white; 
        outline: none;
    }
    50% {
        background-color: green;
        outline: 4px solid green;
    }
    to {
        background-color: white;
        outline: none;
    }
}

.greenAnimation {
    animation: ease-out .4s green;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    border: 1px solid black;
    border-radius: 12px;
    background-image: linear-gradient(90deg, #ffbe88, #e7b7c8);
    box-shadow: -2px 2px 5px grey;
    animation: .5s linear fadeIn;
    text-align: center;
}

.popup h1 {
    font-size: 3rem;
    font-family: 'Carter One', cursive;
    margin: 0;
}

.popup p {
    font-size: 1.2rem;
}

@media (max-width: 870px) {

    header {
        padding: 0;
        flex-direction: column;
        align-items: center;
        border: none;
        margin: 0;
        text-align: center;
    }

    header h1 {
        font-size: 2.25rem;
    }

    #headerText {
        padding: 1.25rem 1.25rem .5rem 1.25rem;
    }

    #scoreboard {
        padding-top: .5rem;
        padding-bottom: .5rem;
        width: 100%;
        background-color: rgb(188, 165, 165);
        justify-content: center;
    }

    #scoreboard h2 {
        font-size: 1.3rem;
    }

    #allCards {
        margin: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 1rem;
    }

    .cardContainer {
        width: 150px;
        margin-right: .5rem;
        margin-left: .5rem;
    }

    .popup {
        padding: 1rem 2rem;
        width: 230px;
    }

}


@media (min-width: 871px) and (max-width: 1180px) {

    header {
        padding: 1rem 2rem;
        justify-content: space-between;
    }

    #headerText {
        width: 50%;
    }

    #scoreboard h2 {
        font-size: 1.2rem;
    }

    #allCards {
        margin: 1rem;
        gap: 1rem;
    } 

    .cardContainer {
        width: 180px;
        margin-right: .5rem;
        margin-left: .5rem;
    }
}

@media (max-width: 1045px) {

    figcaption {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
} 



