@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f8f5f5;
}

.App {
   
}

#game {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    color: white;
    padding: 1rem 7rem 2rem 7rem;
    background-image: linear-gradient(90deg, #47cacc, #63bcc9, #cdb3d4, #e7b7c8, #ffbe88);
    border-bottom: 2px solid grey;
}

#headerText {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

header p {
    margin: 0;
    font-size: 1.15rem;
    line-height: 1.25;
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 3.25rem;
    margin: 0;
}

h2 {
    margin: 0;
}

#scoreboard {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 1rem;
    /* min-width: 337px; */
}

main {
    width: 100%;
    display: grid;
    /* place-items: center; */
}

figure {
    margin: 0;
}

figcaption {
    margin: .75rem;
    font-size: 1.1rem;
}

.card {
    width: 174px;
    margin-top: 13px;
}

.cardContainer {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: -2px 2px 5px grey;
    width: 200px;
}

.cardContainer:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#allCards {
    display: grid;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    /* place-items: center;
    width: 82%;
    justify-content: center; */
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin: 2rem 7rem 4rem 7rem;
    place-items: center;
}

@keyframes red {
    from {
        background-color: white; 
    }
    50% {
        background-color: red;
    }
    to {
        background-color: white;
    }
}

.redAnimation {
    animation: ease-out .4s red;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

@media (max-width: 480px) {

    header {
        padding: 0;
        flex-direction: column;
        align-items: center;
        border: none;
        margin: 0;
        text-align: center;
    }

    header h1 {
        font-size: 2.25rem;
    }

    #headerText {
        padding: 1.25rem 1.25rem .5rem 1.25rem;
    }

    #scoreboard {
        padding: .5rem;
        width: 100%;
        background-color: rgb(188, 165, 165);
    }

    #scoreboard h2 {
        font-size: 1.3rem;
    }

    #allCards {
        margin: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .cardContainer {
        width: 150px;
    }

    .card {
        width: 135px;
    }
}

@media (min-width: 481px) and (max-width: 1180px) {

    header {
        padding: 1rem 2rem;
        justify-content: space-between;
    }

    #headerText {
        width: 50%;
    }

    #scoreboard {

    }

    #scoreboard h2 {
        font-size: 1.2rem;
    }

    #allCards {
        margin: 2rem;
    }
}
